	* {
		box-sizing: border-box;
		padding: 0;
		margin: 0;
	}
	/*Стили шрифтов для всего документа*/
	body {
		font-family: OpenSans, sans-serif;
		font-weight: 500;
		line-height: 18px;
		color: #000;
		font-size: 10px;
	}
	/*Задаем контейнер общий*/
	.content{
		margin: 0px auto;
		padding: 0 15px;
		width: 80%;
	}
	/*Скрываем полосу прокрутки*/
	::-webkit-scrollbar{
		width: 0;
	}
	a, button, input {
		outline: none;
	}


	/* Popup */

	/*Скрываем окно*/
	div.hidden {
		display: none;
	}
	/*задаем размеры и назначаем цвет фона*/
	.popup {
		position: fixed;
		height: 100vh;
		width: 100vw;
		z-index: 1;
		background-color: rgba(0, 0, 0, 0.6);
		display: flex;
		justify-content: center;
		align-items: center;
	}
	.popup-container {
		position: relative;
	}
	/*Стиль иконки закрыть*/
	.close-button {
		display: block;
		height: 18px;
		width: 18px;
		background-color: transparent;
		border: none;
		cursor: pointer;
		position: absolute;
		top: -25px;
		right: 0;
		background-image: url(../svg/form-x.svg);
		background-repeat: no-repeat;
		background-size: contain;
	}
	/*разметка-контейнер для содержимого окна*/
	.feedback-form {
		position: relative;
		padding: 47px 30px 55px;
		width: 390px;
		height: 650px;
		background-color: #ffffff;
	}
	/*Выстраиваем в колонну и ровняем по центру*/
	.main-form-container {
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	/*Стиль шрифтов*/
	.main-form-title {
		text-transform: uppercase;
		font-size: 20px;
		line-height: 29px;
		color: #0f0d0e;
		font-weight: 700;
	}
	.main-form-line {
		width: 66px;
		height: 3px;
		background-color: #b59f5b;
		margin-top: 14px;
		margin-bottom: 32px;
	}
	.form-label-heading {
		display: block;
		margin: 23px 0 8px;
		font-size: 13px;
		color: #000000;
	}
	/*Кнопки переключения да/нет */
	.radio-button {
		position: absolute;
		width: 1px;
		height: 1px;
		clip: rect(1px, 1px, 1px, 1px);
	}
	.radio-text:before {
		content: "";
		display: inline-block;
		background-image: url(../svg/form-empty-circle.svg);
		height: 18px;
		width: 18px;
		background-repeat: no-repeat;
		background-size: 18px;
		vertical-align: middle;
		margin-right: 5px;
	}
	.radio-button:checked ~ .radio-text:before {
		background-image: url(../svg/form-circle.svg);
	}
	.radio-text {
		font-size: 13px;
		margin-right: 15px;
	}
	select.field {
		color: #889399;
		-webkit-appearance: none;
		-moz-appearance: none;
		background-image: url(../svg/form-arrows.svg);
		background-color: #f4f7f6;
		background-size: 10px auto;
		background-repeat: no-repeat;
		background-position: right 13px center;
		margin-bottom: 30px;
		font-size: 13px;
		border: none;
		width: 100%;
		height: 50px;
		padding: 17px;
		outline: none;
	}
	/*при наведении*/
	select.field:focus {
		border: 1px solid #b59f5b;
	}
	textarea.field {
		min-height: 133px;
		width: 100%;
		padding: 17px;
		background-color: #f4f7f6;
		border: none;
		font-size: 13px;
		color: #000000;
		outline: none;
		resize: none;
	}
	textarea.field:focus {
		border: 1px solid #b59f5b;
	}
	.feedback-button {
		width: 100%;
		margin-top: 25px;
		margin-bottom: 54px;
		font-size: 14px;
		line-height: 40px;
		color: #ffffff;
		font-weight: 700;
		height: 49px;
		background-color: #b59f5b;
		border: none;
		cursor: pointer;
	}
	/*при наведении*/
	.feedback-button:hover {
		background-color: #323232;
	}
	/* Popup End*/

	/* _Header_ */

	/*позиция фонового изображения*/
	header{
		background: url(../images/banner-bg.jpg);
		background-position: center top;
		background-size: cover;
		height: 450px;

	}
	/*выравниваем шапку вряд и по краям*/
	.head-main{
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		padding-top: 36px;
	}
	/*цвет поверх фонового изображения*/
	.head-fon-filter{
		background: #00000099;
		height: 450px;
	}
	.container{
		height: 450px;
	}
	.head-main-logo-img{
		width: 179px;
		height: 41px;
	}
	.head-main-navigation{
		display: flex;
		flex-direction: row;
		font-size: 13px;
	}
	.navigation-one{
		margin-left: 35px;
	}
	.navigation-one-a{
		font-size: 13px;
		color: #fff;
		text-decoration: none;
		text-transform: uppercase;
	}
	/*отображается при наведении"*/
	.navigation-one-a:hover{
		color: #fff;
		text-decoration: underline;
	}
	/*скрываем бургер меню на большом разрешении*/
	.head-main-burger{
		display: none;
	}
	.head-main-burger-img{
		object-fit: contain;
		width: 25px;
		height: 25px;
	}
	/*скрываем логотип по центру при большом разрешении*/
	.logo-mob{
		display: none;
	}


	.head-tagline{
		height: 380px;
		color: #fff;
		display: flex;
		justify-content: center;
		align-items: center;
	}/*Задаем стили шрифту в блоке*/
	.head-tagline-h1{
		max-width: 680px;
		font-size: 45px;
		line-height: 75px;
		color: #ffffff;
		font-weight: bold;
		text-align: center;
		text-transform: uppercase;
	}
	/* _end header_ */

	/* _Bodyer_ */
	/*Блок "сейчас в тренде"*/
	.body-trend{
		display: flex;
		flex-direction: column;
		align-items: center;
		margin-top: 65px;
	}
	/*Задаем стили шрифту"*/
	.body-trend-h2{
		text-align: center;
		font-size: 20px;
		line-height: 29px;
		color: #0f0d0e;
		font-weight: 700;
		text-transform: uppercase;
	}
	/*псевдо класс,наложение полупрозрачного цвета на фоновую картинку"*/
	.body-trend-border:after {
		display: block;
		content: "";
		width: 66px;
		height: 3px;
		margin: 14px auto 28px auto;
		background-color: #b59f5b;
	}
	.body-trend-all{
		display: flex;
		flex-direction: row;
		width: 100%;
	}
	.w {
		position: relative;
		z-index: 0;
		display: flex;
		min-height: 320px;
		padding: 15px 20px;
		width: calc(100% / 4);
		align-items: flex-end;
		justify-content: center;
		height: 320px;
	}
	.w:after {
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background-color: #00000099;
		z-index: -1;
	}
	.body-trend-list{
		border: 3px solid #b59f5b;
		padding: 33px 33px;
	}
	.body-trend-list-span{
		margin-right: 18px;
		font-size: 14px;
		line-height: 40px;
		color: #b59f5b;
		font-weight: 700;
		text-transform: uppercase;
	}
	.body-trend-list-span:focus,
	.body-trend-list-span:hover{
		text-decoration: underline;
	}
	.body-trend-list-h3{
		font-size: 20px;
		font-weight: 700;
		margin-top: 6px;
		line-height: 24px;
		color: #ffffff;
		cursor: pointer;
		text-transform: uppercase;
	}
	.body-trend-list1{
		background: url(../images/trend1.jpg);
		background-position: center;
		background-size: cover;
		margin-right: 2px;
	}
	.body-trend-list2{
		background: url(../images/trend2.jpg);
		background-position: center;
		background-size: cover;
		margin-right: 2px;
	}
	.body-trend-list3{
		background: url(../images/trend3.jpg);
		background-position: center;
		background-size: cover;
		margin-right: 2px;
	}
	.body-trend-list4{
		background: url(../images/trend4.jpg);
		background-position: center;
		background-size: cover;
	}
	.padding{
		margin-top: 63px;
	}
	.body-content-all{
		width: 100%;
		display: flex;
		flex-direction: row;
		align-items: flex-start;
	}
	.body-category{
		width: 70%;
	}
	.body-category-all{
		display: flex;
		flex-direction: column;
	}
	.body-category-list{
		width: 100%;
		color: #000;
		padding-bottom: 60PX;
		display: flex;
		flex-direction: row;
	}
	.body-category-list-i{
		width: 50%;
		display: flex;
		justify-content: center;
		align-items: center;
	}
	.body-category-list-i-img{
		object-fit: cover;
		width: 100%;
	}
	.body-category-list-tx{
		width: 50%;
		padding-left: 1%;
	}
	.body-category-list-tx-span{
		margin-right: 18px;
		font-size: 14px;
		color: #b59f5b;
		font-weight: 700;
		text-transform: uppercase;
	}
	.body-category-list-tx-span:focus,
	.body-category-list-tx-span:hover{
		text-decoration: underline;
	}
	.body-category-list-tx-h2{
		padding: 6px 0px 25px 0px;
		font-size: 20px;
		line-height: 24px;
		color: #0f0d0e;
		font-weight: 700;
		text-transform: uppercase;
	}
	.body-category-list-tx-h2:focus,
	.body-category-list-tx-h2:hover{
		color: #b59f5b;
	}
	.body-category-list-tx-p{
		font-size: 15px;
		line-height: 22px;
		color: #0f0d0e;
		font-weight: 400;
	}
	.body-filters{
		width: 30%;
		padding-left: 120px;
	}
	.body-filters-post-h2{
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	.body-filters-post-h2-h2{
		font-size: 14px;
		text-align: center;
		text-transform: uppercase;
	}
	.body-filters-post-all{
		display: flex;
		flex-direction: column;
	}
	.body-filters-post-list{
		padding-top: 14px;
		display: flex;
		flex-direction: row;
	}
	.body-filters-post-list-i-img{
		object-fit: contain;
		min-width: 70px;
		height: 70px;
		padding: 0 19px 0 0;
	}
	.body-filters-post-list-tx-p{
		color: #888888;
		font-size: 12px;
	}
	.body-filters-post-list-tx-h3{
		color: #0f0d0e;
		font-size: 14px;
		text-transform: uppercase;
	}
	.body-filters-post-list-tx-h3:focus,
	.body-filters-post-list-tx-h3:hover{
		color: #b59f5b;
	}
	/*поисковая строка*/
	.body-filters-search{
		padding-top: 60px;
	}
	.body-filters-search-inp{
		width: 100%;
	}
	.body-filters-search-form {
		position: relative;
		margin: 0 auto;
	}
	/*поле поиска*/
	.body-filters-search-input {
		width: 100%;
		height: 48px;
		padding-left: 10px;
		border: 2px solid #f3f7f6;
		outline: none;
		background: #f3f7f6;
		font-size: 13px;
		line-height: 40px;
		color: #000000;
		font-weight: 400;
	}
	.body-filters-search-input:focus,
	.body-filters-search-input:hover{
		border: 1px #b59f5b solid;
	}
	/*кнопка поля поиска*/
	.body-filters-search-button {
		position: absolute;
		top: 0;
		right: 0px;
		width: 48px;
		height: 48px;
		border: none;
		background: #b69f5b;
		cursor: pointer;
	}
	.body-filters-search-button:focus,
	.body-filters-search-button:hover{
		background: #323232;
	}
	.body-filters-search-button-img{
		padding: 15px;
	}
	/*рассылка и форма отправки*/
	.body-filters-list{
		padding-top: 60px;
	}
	.body-filters-list-h2{
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	.body-filters-list-h2-h2{
		font-size: 14px;
		text-align: center;
		text-transform: uppercase;
	}
	.form-all{
		width: 100%;
		display: flex;
		flex-direction: column;
	}
	/*поле ввода электроной почты*/
	.form-email-input{
		width: 100%;
		height: 48px;
		padding-left: 10px;
		background: #f3f7f6;
		font-size: 13px;
		border: none;
	}
	.form-email-input:focus,
	.form-email-input:hover{
		border: 1px #b59f5b solid;
	}
	/*кнопка отправки формы(подписаться)*/
	.form-but-button{
		margin-top: 20px;
		width: 100%;
		height: 48px;
		font-size: 13px;
		font-weight: 700;
		color: #fff;
		border: none;
		background: #b69f5b;
		cursor: pointer;
	}
	.form-but-button:focus,
	.form-but-button:hover{
		color: #fff;
		border: 2px #323232 solid;
		background: #323232;
	}
	.body-filters-tags{
		padding-top: 60px;
	}
	.body-filters-tags-h2{
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	.body-filters-tags-h2-h2{
		font-size: 14px;
		text-align: center;
		text-transform: uppercase;
	}
	.body-filters-tags-all{
		width: 100%;
	}
	.body-filters-tags-all-list{
		display: flex;
		flex-direction: row;
		justify-content: flex-start;
		flex-wrap: wrap;
	}
	.tags{
		margin-right: 5px;
		margin-bottom: 6px;
	}
	.tags-a{
		color: #0f0d0e;
		text-decoration: none;
		padding: 3px 13px;
		font-weight: 700;
		font-size: 12px;
		line-height: 30px;
		border: 3px solid #eeeeee;
		text-transform: uppercase;
	}
	.tags-a:focus,
	.tags-a:hover{
		color: #0f0d0e;
		text-decoration: none;
		border: 3px solid #b59f5b;
	}
	.body-filters-topic{
		padding-top: 60px;
	}
	.body-filters-topic-h2{
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	.body-filters-topic-h2-h2{
		font-size: 14px;
		text-align: center;
		text-transform: uppercase;
	}
	.body-filters-topic-all{
		padding-top: 25px;
		display: flex;
		flex-direction: column;
	}
	.body-filters-topic-list{
		padding: 13px 0 12px 0;
		border-bottom: 1px #eeeeee solid;
		display: flex;
		flex-direction: row;
		justify-content: flex-start;
	}
	.body-filters-topic-list1{
		padding: 13px 0 12px 0;
		display: flex;
		flex-direction: row;
		justify-content: flex-start;
	}
	.body-filters-topic-h3-h3{
		color: #0f0d0e;
		font-size: 14px;
		line-height: 29px;
		font-weight: 700;
	}
	.body-filters-topic-h3-h3:focus,
	.body-filters-topic-h3-h3:hover{
		color: #b59f5b;
	}
	.body-filters-topic-s-p{
		color: #b59f5b;
		font-size: 12px;
		margin-left: 7px;
		font-weight: 700;
	}
	/*блок "наши изделия"*/
	.body-products{
		margin-top: 65px;
		padding: 0 15px;
	}
	.body-products-h2{
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	.body-products-h2-h2{
		font-size: 14px;
		text-align: center;
		text-transform: uppercase;
	}
	.body-products-all{
		display: flex;
		flex-direction: row;
		justify-content: space-between;
	}
	.body-products-list{
		width: 30%;
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	/*задаем стиль рамки вокруг текста*/
	.body-products-bor{
		display: flex;
		flex-direction: column;
		margin-top: -10px;
		padding-top: 30px;
		outline: 3px solid #b59f5b;
		outline-offset: 20px;
		height: 100%;
	}
	.body-products-tx-h2{
		font-size: 20px;
		line-height: 24px;
		color: #0f0d0e;
		font-weight: 700;
		text-transform: uppercase;
	}
	.body-products-tx-p{
		padding-top: 2px;
		font-size: 15px;
		line-height: 22px;
		color: #0f0d0e;
		font-weight: 400;
	}
	.body-products-tx-p:focus,
	.body-products-tx-p:hover{
		color: #4f4e4e;
	}
	.body-products-tx-span{
		color: #b59f5b;
		cursor: pointer;
	}
	.body-products-but{
		padding-top: 24px;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
	}
	.body-products-but-h3{
		font-size: 20px;
		line-height: 24px;
		color: #0f0d0e;
		font-weight: 700;
	}
	.body-products-but-span{
		text-decoration: line-through;
	}
	.body-products-but-button{
		width: 140px;
		height: 48px;
		border: 2px #b59f5b solid;
		background: #b59f5b;
		color: #ffffff;
		font-size: 13px;
		font-weight: 700;
	}
	.body-products-but-button:focus,
	.body-products-but-button:hover{
		color: #fff;
		border: 2px #323232 solid;
		background: #323232;
	}
	.body-contacts{
		padding-top: 94px;
	}
	.body-contacts-all{
		height: 82px;
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: center;
		background: #f4f7f6;
	}
	.body-contacts-all-a{
		padding: 15px;
	}
	.body-contacts-all-img{
		object-fit: contain;
		height: 20px;
	}

	/* _End bodyer_ */

	/* _Footer_ */
	footer{
		text-align: center;
		font-size: 7px;
		color: #000;
		text-align: center;
		margin-top: 70px;
	}
	.footer-p{
		color: #999999;
		font-size: 12px;
		line-height: 40px;
		font-weight: 700;
		cursor: pointer;
	}

	/* _End footer_ */

	/* _меняем отображение сайта для меньшего разрешения_ */

	@media only screen and (max-width: 1199px){
	/*открываем бургер меню*/
	.head-main-burger{
		display: block;
		cursor: pointer;
	}
	.head-main-logo-img {
		width: 158px;
		height: 36px;
	}
	.head-tagline-h1 {
    max-width: 610px;
    font-size: 40px;
    line-height: 55px;
	}
	header {
    height: 392px;
	}
	.head-fon-filter {
    height: 392px;
	}
	/*скрываем кнопки новигации*/
	.head-main-navigation{
		display: none;
	}
	.w {
    height: 306px;
	}
	.body-trend {
    margin-top: 50px;
	}
	.content {
		width: 100%;
	}
	.body-trend-list1,
	.body-trend-list2,
	.body-trend-list3 {
		margin-right: 0px;
	}
	.body-trend-list1{
		border-right: 3px #fff solid;
		border-bottom: 3px #fff solid;
	}
	.body-trend-list2{
		border-bottom: 3px #fff solid;
	}
	.body-trend-list3{
		border-right: 3px #fff solid;
	}
	.w {
		width: calc(100% / 2);
		background-size: cover;
		background-repeat: no-repeat;
	}
	.padding {
		margin-top: 50px;
	}
	.body-category {
    width: 58%;
	}
	.body-trend-all {
		flex-wrap: wrap;
	}
	.body-category-list {
		flex-direction: column;
		border-bottom: 3px #eeeeee solid;
		margin-bottom: 30px;
		padding-bottom: 30px;
	}
	.body-category-list-i {
		width: 100%;
	}
	.body-category-list-tx {
		width: 100%;
		padding-top: 1%;
		padding-left: 0%;
	}
	.body-filters {
		padding-left: 30px;
		width: 42%;
	}
	.body-products {
  	margin-top: 50px;
	}
	.body-products-all {
		flex-wrap: wrap;
	}
	.body-products-list {
		width: 48%;
		margin-bottom: 6%;
	}
	.body-products-bor {
		width: 100%;
		max-width: 290px;
		height: 50%;
		padding: 30px 0px;
	}
	.body-contacts {
    padding-top: 0px;
    margin-top: 50px;
	}
	.feedback-form {
		width: 450px;
	}
	footer {
	    margin-top: 50px;
	}

	}
	@media only screen and (max-width: 767px){
	.feedback-form {
		width: 450px;
	}
	header,
	.head-fon-filter {
    height: 639px;
	}
	.head-tagline{
		height: 571px;
	}
	/*показываем логотип по центру*/
	.logo-mob{
		display: block;
    width: 82%;
		padding-bottom: 45px;
	}
	.head-main-burger-img {
		width: 26px;
		height: 26px;
	}
	.head-main {
		justify-content: flex-end;
	}
	/*скрываем логотип в шапке*/
	.head-main-logo{
		display: none;
	}
	.head-tagline {
		flex-direction: column;
		padding-bottom: 68px;
	}
	.head-tagline-h1 {
		line-height: 36px;
		font-size: 26px;
	}
	.body-trend {
    margin-top: 45px;
	}
	.body-trend-all {
		flex-direction: column;
	}
	.w {
		width: 100%;
		height: 230px;
	}
	.body-category-list-tx-h2,
	.body-trend-list-h3 {
    font-size: 16px;
    line-height: 20px;
	}
	.body-trend-list1,
	.body-trend-list3 {
		border-right: 0px #fff solid;
	}
	.body-trend-list1,
	.body-trend-list2,
	.body-trend-list3,
	.body-trend-list4{
		border-bottom: 2px #fff solid;
	}
	.body-content-all {
		flex-direction: column;
	}
	.body-category,
	.body-filters {
		width: 100%;
	}
	.body-trend-h2,
	.body-filters-tags-h2-h2,
	.body-filters-list-h2-h2,
	.body-filters-topic-h2-h2,
	.body-filters-post-h2-h2,
	.body-products-h2-h2 {
    font-size: 16px;
    line-height: 29.15px;
	}
	.body-filters {
		padding-left: 0px;
	}
	.body-category-list-tx-span {
		line-height: 40px;
	}
	.body-category-list-tx-p {
		font-size: 14px;
		line-height: 20px;
	}
	.body-products-tx-h2 {
    font-size: 17px;
    line-height: 22px;
	}
	.body-products-all {
		flex-direction: column;
		align-items: center;
	}
	.body-products-list {
		width: 90%;
	}
	.body-products-bor {
    height: 220px;
	}
	.body-products-bor {
		outline-offset: 30px;
	}
	.body-products-list {
		margin-bottom: 20%;
	}
	.body-products-but-h3 {
    font-size: 14px;
	}
	footer {
	    margin-top: 45px;
	}

	}
	@media screen and (orientation: landscape) {
	.w {
		width: calc(100% / 2);
	}
	.body-trend-all {
    flex-direction: row;
	}
	.body-trend-list1,
	.body-trend-list2{
		border-bottom: 2px #fff solid;
	}
	.body-trend-list1,
	.body-trend-list3{
		border-right: 2px #fff solid;
	}
	}

	@media only screen and (max-width: 359px){
	.popup-container {
		display: flex;
		align-items: center;
		justify-content: center;}
	.feedback-form {
		width: 90%;}
	.feedback-form {
		padding: 20px 15px;}
	.feedback-button {
		margin-bottom: 0px;}
	.close-button {
		height: 25px;
		width: 12%;
		top: -30px;}
